<div class="group relative">
  <div [class]="getIconClasses()">
    @if (skill.svgContent) {
    <div
      class="w-full h-full flex items-center justify-center [&>svg]:fill-black dark:[&>svg]:fill-current [&>svg>path]:fill-black dark:[&>svg>path]:fill-current"
      [innerHTML]="skill.svgContent"
      style="
        svg {
          width: 100%;
          height: 100%;
        }
      "
    ></div>
    } @else if (skill.iconPath) {
    <img
      [src]="skill.iconPath"
      [alt]="skill.alt || skill.name"
      class="w-full h-full object-contain filter grayscale contrast-150 brightness-50 dark:filter-none"
    />
    }
  </div>

  <div
    class="absolute -bottom-8 left-1/2 transform -translate-x-1/2 opacity-0 group-hover:opacity-100 text-sm font-medium text-text-light dark:text-text-base whitespace-nowrap transition-opacity duration-300"
  >
    {{ skill.name }}
  </div>
</div>
